.align {
position: relative;
left: -25px;
}

a:hover {
  text-decoration: none;
}

h1 {
  font-size: 35px;
  margin: auto 0 25px;
  color: #fff;
  letter-spacing: 3px;
  font-weight: 600;
  width: 100%;
  text-align: center;
}

.flex_container {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-flow: row wrap;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  min-height: 100vh;
  letter-spacing: 3px;
  color: rgba(255, 255, 255, 0.8);
  padding: 40px 0;
  box-sizing: border-box;
  overflow: hidden;
}

.noise_btn {
  display: block;
  position: relative;
  width: 282px;
  height: 80px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
  letter-spacing: 2.7px;
  margin: 20px 30px;
  font-size: 13px;
  color: #fff;
  margin-bottom: auto;
  opacity: 0;
  cursor: pointer;
}
.noise_btn.canvas-ready {
  opacity: 1;
}
.noise_btn--bg {
  color: #202344;
}
.noise_btn strong {
  position: absolute;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-flow: row wrap;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  z-index: 2;
}

.noise-container {
  display: block;
  position: relative;
}

.noise-canvas {
  position: absolute;
  top: -20px;
  width: calc(100% + 40px);
  height: calc(100% + 40px);
  left: -20px;
  pointer-events: none;
  z-index: 1;
}

footer {
  font-size: 16px;
  letter-spacing: 2px;
  text-align: center;
  color: #fff;
  padding: 30px;
}
footer a {
  color: #f33232;
  text-decoration: none;
}
