<!-- index.njk -->
{% extends "layout.njk" %}

{% block content %}
      <div id="wrapper">

        {% include "../templates/navigation.njk" %}

        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12 col-md-12 item">
                    {% import "../templates/macros/coin_card.njk" as crfi %}
                    {{ crfi.card('crfi') }}
                </div>
            </div>
              <ul class="nav nav-tabs">
              <li class="nav-item">
                <a onclick="farm()" class="nav-link active" href="#">Farm</a>
              </li>
              <li class="nav-item">
                <a onclick="claim()" class="nav-link" href="#">Claim</a>
              </li>
            </ul>
              </br>
      <div class="row" style="margin: 0 auto;" align="center">
            <div class="container">
           <div class="col-lg-4 d-flex justify-content-center">
                          <div class="card border-success mb-3" style="max-width: 18rem;">
                          <div class="card-header bg-transparent border-success text-success" style="color: 5bc0de;">Header</div>
                          <div class="card-body text-success">
                            
                            <p class="card-text text-success" style="color: 5bc0de;">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                          </div>
                          <div class="card-footer bg-transparent border-success">Footer</div>
                        </div>
           </div>
           <div class="col-lg-4 d-flex justify-content-center">
                          <div class="card border-success mb-3" style="max-width: 18rem;">
                          <div class="card-header bg-transparent border-success text-success" style="color: 5bc0de;">Header</div>
                          <div class="card-body text-success">
                            <h5 class="card-title" style="color: 5bc0de;">CDP 1 year</h5>
                            <p class="card-text text-success" style="color: 5bc0de;">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                          </div>
                          <div class="card-footer bg-transparent border-success" style="color: 5bc0de;">Footer</div>
                        </div>
           </div>
           <div class="col-lg-4 d-flex justify-content-center">
                          <div class="card border-success mb-3" style="max-width: 18rem;">
                          <div class="card-header bg-transparent border-success text-success" style="color: 5bc0de;">Header</div>
                          <div class="card-body text-success">
                            <h5 class="card-title" style="color: 5bc0de;">CDP 1 year</h5>
                            <p class="card-text text-success" style="color: 5bc0de;">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                          </div>
                          <div class="card-footer bg-transparent border-success text-success" style="color: 5bc0de;">Footer</div>
                        </div>
                  </div>
                   </br></br> </br>
            <div id="farm" class="col-lg-6 d-flex justify-content-center">
                          <div class="card border-success mb-3" style="max-width: 18rem;">
                          <div class="card-header bg-transparent border-success text-success" style="color: 5bc0de;">Open Farming Positions</div>
                          <div class="card-body text-success">
                            <h5 class="card-title text-success" style="color: 5bc0de;">Farm CRFI</h5>
                                <h5 class="card-title text-success" style="color: 5bc0de;">Balance: <span><span class="claims" id="{{ coin }}-unlocked-farm"></span></span> </h5>
                                  <form>
                                      <div class="form-group">
                                        <label for="exampleFormControlInput1" class="text-success" style="color: 5bc0de;">Amount</label>
                                        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="0.001">
                                      </div>
                                        <div>
                                        <button id="25_percent" type="button" class="btn btn-default">25%</button>
                                          <button id="50_percent" type="button" class="btn btn-default">50%</button>
                                          <button id="75_percent" type="button" class="btn btn-default">75%</button>
                                          <button id="100_percent" type="button" class="btn btn-default">100%</button>
                                        </div>
                                        </br>
                                      <div class="form-group">
                                        <label for="exampleFormControlSelect1" style="color: 5bc0de;">Example select</label>
                                        <select class="form-control" id="exampleFormControlSelect1">
                                          <option>1</option>
                                          <option>2</option>
                                          <option>3</option>
                                          <option>4</option>
                                          <option>5</option>
                                        </select>
                                      </div>
                                  </form>
                          </div>
                          <div id="farm" class="card-footer bg-transparent border-success"><button type="button" class="btn btn-success" style="color: 5bc0de;">Earn</button>
                                </div>
                        </div>
                   </br></br>
           </div>
           <div id="claim" class="col-lg-6 d-flex justify-content-center">
                          <div class="card border-success mb-3" style="max-width: 18rem;">
                          <div class="card-header bg-transparent border-success" style="color: 5bc0de;">Close Farming Positions</div>
                          <div class="card-body text-success">
                            <h5 class="card-title text-success" style="color: 5bc0de;">Claim CRFI</h5>
                                  <h5 class="card-title text-success" style="color: 5bc0de;">Balance: <span><span class="claims" id="{{ coin }}-unlocked-claim"></span></span> </h5>
                            <form>
                                <div class="form-group">
                                  <label for="exampleFormControlInput1" class="text-success" style="color: 5bc0de;">Amount</label>
                                  <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="0.001">
                                </div>
                                  <div>
                                  <button id="25_percent" type="button" class="btn btn-default">25%</button>
                                    <button id="50_percent" type="button" class="btn btn-default">50%</button>
                                    <button id="75_percent" type="button" class="btn btn-default">75%</button>
                                    <button id="100_percent" type="button" class="btn btn-default">100%</button>
                                  </div>
                                  </br>
                                <div class="form-group">
                                    

                                  <label for="exampleFormControlSelect1" class="text-success" style="color: 5bc0de;">Example select</label>
                                  <select class="form-control" id="exampleFormControlSelect1">
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                  </select>
                                </div>
                            </form>
                          </div>
                          <div class="card-footer bg-transparent border-success">
                          <button id="claim" type="button" class="btn btn-danger" style="color: 5bc0de;">Claim</button></div>
                        </div>

                 </br></br>
                 </div>
            </br></br>
        {% include "../templates/modals/spinner.njk" %}
           
            </div> 
      </div>

                          <div class="row">
            <div class="col-lg-12">
        <script src="https://widgets.coingecko.com/coingecko-coin-converter-widget.js"></script>
<coingecko-coin-converter-widget  coin-id="crystaleum" currency="usd" background-color="#ffffff" font-color="#4c4c4c" locale="en"></coingecko-coin-converter-widget>
        <span align="center">CryptoCurrency Conversion Powered in part by <a href="https://www.coingecko.com/en/coins/crystaleum">CoinGecko</a></span>
        </div>
                <div class="col-lg-12">
                    <div class="panel panel-crfi">
                        <div class="panel-heading">
                            <i class="fa fa-clock-o fa-fw"></i> Your wallets
                        </div>
                       <div class="panel-body">
                            {% import "../templates/macros/coin_addrqr.njk" as crfi %}
                            {{ crfi.addrqr('crfi') }}
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% include "../templates/modals/spinner.njk" %}
    </div>



{% endblock %}

{% block scripts %} 
    <script type="text/javascript" src="plugins/metisMenu/metisMenu.min.js"></script>
    <script type="text/javascript" src="plugins/qrious/qrious.js"></script>
    <script type="text/javascript" src="dist/js/qr-gen.js"></script>
    <script type="text/javascript" src="dist/js/index.js?v=1991"></script>
    <script type="text/javascript" src="dist/js/farm.js"></script>
{% endblock %}
