<!-- index.njk -->
{% extends "layout.njk" %}

{% block content %}
      <div id="wrapper">

        {% include "../templates/navigation.njk" %}

        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12 col-md-12 item">
                    {% import "../templates/macros/coin_card.njk" as crfi %}
                    {{ crfi.card('crfi') }}
                </div>
            </div>
              <ul class="nav nav-tabs">
              <li class="nav-item">
                <a onclick="farm()" class="nav-link active" href="#">Farm</a>
              </li>
              <li class="nav-item">
                <a onclick="claim()" class="nav-link" href="#">Claim</a>
              </li>
            </ul>
              </br>
      <div class="row" style="margin: 0 auto;" align="center">
            <div class="container">
           <div class="col-lg-6 d-flex justify-content-center">
                          <div class="card border-success mb-3" style="max-width: 18rem;">
                          <div class="card-header bg-transparent border-success " style="color: 5bc0de;">Header</div>
                          <div class="card-body ">
                            <h5 class="card-title" style="color: 5bc0de;">CDP 1 year</h5>
                            <p class="card-text " style="color: 5bc0de;">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                          </div>
                          <div class="card-footer bg-transparent border-success" style="color: 5bc0de;">Footer</div>
                        </div>
           </div>
           <div class="col-lg-6 d-flex justify-content-center">
                          <div class="card border-success mb-3" style="max-width: 18rem;">
                          <div class="card-header bg-transparent border-success " style="color: 5bc0de;">Header</div>
                          <div class="card-body ">
                            <h5 class="card-title" style="color: 5bc0de;">CDP 1 year</h5>
                            <p class="card-text " style="color: 5bc0de;">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                          </div>
                          <div class="card-footer bg-transparent border-success" style="color: 5bc0de;">Footer</div>
                        </div>
                  </div>
                  </br></br></br>
      </div>
            <div class="row" style="margin: 0 auto;" align="center">
            <div class="col-lg-6 d-flex justify-content-center">
                          <div class="card border-success mb-3" style="max-width: 18rem;">
                          <div class="card-header bg-transparent border-success " style="color: 5bc0de;">Open Farming Positions</div>
                          <div class="card-body ">
                            <h5 class="card-title " style="color: 5bc0de;">Farm CRFI</h5>
                                <h5 class="card-title " style="color: 5bc0de;">Balance: <span><span class="claims" id="{{ coin }}-unlocked-farm"></span></span> </h5>
                                  <form>
                                      <div class="form-group">
                                        <label for="exampleFormControlInput1" style="color: 5bc0de;">Amount</label>
                                        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="0.001">
                                      </div>
                                        <div>
                                        <button id="25_percent" type="button" class="btn btn-default">25%</button>
                                          <button id="50_percent" type="button" class="btn btn-default">50%</button>
                                          <button id="75_percent" type="button" class="btn btn-default">75%</button>
                                          <button id="100_percent" type="button" class="btn btn-default">100%</button>
                                        </div>
                                        </br>
                                      <div class="form-group">
                                        <label for="exampleFormControlSelect1" style="color: 5bc0de;">Example select</label>
                                        <select class="form-control" id="exampleFormControlSelect1">
                                          <option>1</option>
                                          <option>2</option>
                                          <option>3</option>
                                          <option>4</option>
                                          <option>5</option>
                                        </select>
                                      </div>
                                  </form>
                          </div>
                          <div id="farm" class="card-footer bg-transparent border-success"><button type="button" class="btn btn-success" style="color: 5bc0de;">Earn</button>
                                </div>
                        </div>
                   </br></br>
           </div>
           <div id="claim" class="col-lg-6 d-flex justify-content-center">
                          <div class="card border-success mb-3" style="max-width: 18rem;">
                          <div class="card-header bg-transparent border-success" style="color: 5bc0de;">Close Farming Positions</div>
                          <div class="card-body text-success">
                            <h5 class="card-title text-success" style="color: 5bc0de;">Claim CRFI</h5>
                                  <h5 class="card-title text-success" style="color: 5bc0de;">Balance: <span><span class="claims" id="{{ coin }}-unlocked-claim"></span></span> </h5>
                            <form>
                                <div class="form-group">
                                  <label for="exampleFormControlInput1" class="text-success" style="color: 5bc0de;">Amount</label>
                                  <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="0.001">
                                </div>
                                  <div>
                                  <button id="25_percent" type="button" class="btn btn-default">25%</button>
                                    <button id="50_percent" type="button" class="btn btn-default">50%</button>
                                    <button id="75_percent" type="button" class="btn btn-default">75%</button>
                                    <button id="100_percent" type="button" class="btn btn-default">100%</button>
                                  </div>
                                  </br>
                                <div class="form-group">
                                    

                                  <label for="exampleFormControlSelect1" class="text-success" style="color: 5bc0de;">Example select</label>
                                  <select class="form-control" id="exampleFormControlSelect1">
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                  </select>
                                </div>
                            </form>
                          </div>
                          <div class="card-footer bg-transparent border-success">
                          <button id="claim" type="button" class="btn btn-danger" style="color: 5bc0de;">Claim</button></div>
                        </div>

                 </br></br>
                 </div>
            </br></br>
            
            <div class="row">
                                <div class="form-group" style="text-align: center">
                                    
                                        <button id="crfi-stake" class="btn btn-lg btn-login coin-selector {{ "btn-selected" if coin === 'crfi' }}">
                                            <img height="70px" width="70px" src="../img/crfi.png" />
                                        </button>
                                    
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div role="form">
                                        <label>DeFi Farm coming soon</label>
                                        <div class="form-group input-group">
                                            <input id="amount" type="number" class="form-control">
                                            <span class="input-group-addon" id="stake-all">
                                            All</span>
                                        </div>
                                        <div class="form-group">
                                            <label>CRFI Farming Reward Address</label>
                                            <input id="receiver" class="form-control" placeholder="CRFI address...">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label>Farm Interval</label>
                                        <select id="interval" class="form-control">
                                          <option value="3">Quarterly (3 months)</option>
                                          <option value="6">Bi-Annual (6 months)</option>
                                          <option value="12">Annual (12 months)</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label>Payment ID (optional)</label>
                                        <input id="pid" class="form-control" placeholder="16 or 64 hexadecimal characters">
                                    </div>
                                </div>
                            </div>
                            
                            <div class="row">
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <label>USDT bridge</label>
                                        <input id="usdt-address" class="form-control" placeholder="USDT return address">
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <label>BTC bridge</label>
                                        <input id="btc-address" class="form-control" placeholder="BTC return address">
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <label>ETH bridge</label>
                                        <input id="eth-address" class="form-control" placeholder="ETH return address">
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <label>LTC bridge</label>
                                        <input id="ltc-address" class="form-control" placeholder="LTC return address">
                                    </div>
                                </div>
                            </div>
            
        {% include "../templates/modals/spinner.njk" %}
           
            </div> 
      </div>

        <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-crfi">
                        <div class="panel-heading">
                            <i class="fa fa-clock-o fa-fw"></i> Your wallets
                        </div>
                       <div class="panel-body">
                            {% import "../templates/macros/coin_addrqr.njk" as crfi %}
                            {{ crfi.addrqr('crfi') }}
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% include "../templates/modals/spinner.njk" %}
    </div>



{% endblock %}

{% block scripts %} 
    <script type="text/javascript" src="../plugins/metisMenu/metisMenu.min.js"></script>
    <script type="text/javascript" src="../dist/js/pin-code-utils.js"></script>
    <script type="text/javascript" src="../dist/js/farm.js"></script>
{% endblock %}
