<!-- login.njk -->
{% extends "layout.njk" %}
{% block scripts %} 
    
{% endblock %}
{% block content %}
<div class="login-root bodyfade">
    <div class="container">
        <div id="login-container" class="row bodyfade">
            <div class="col-md-4 col-md-offset-4">
                <div class="login-panel panel panel-crfi">
                    <div class="panel-heading" style="text-align: center">
                        
                            <img height="40px" width="40px" src="img/{{coin}}.png" />
                        
                    </div>
                    <div class="panel-body">
                        <div class="alert alert-danger" style="display: none">
                            Login fail, please check email and password
                        </div>
                        <div class="alert alert-success" style="display: none">
                            Login successful, retrieving data from {{coin}} blockchain, please wait
                        </div>
                        <div role="form">
                            <fieldset>
                                <div class="form-group">
                                    <input id="email" class="form-control" placeholder="E-mail" name="email" type="email" autofocus>
                                </div>
                                <div class="form-group">
                                    <input id="password" class="form-control" placeholder="Password" name="password" type="password" value="">
                                </div>
                                <button id="login" class="btn btn-lg btn-login btn-block btn-primary">Login</button>
                            </fieldset>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% include "../templates/pin-code.njk" %}
    </div>
    {% include "../templates/modals/spinner.njk" %}
</div>
{% endblock %}

{% block scripts %} 
    <script rel="text/javascript" src="dist/js/ifnot.js></script>
    <script rel="text/javascript" src="dist/js/pin-code-utils.js"></script>
    <script rel="text/javascript" src="dist/js/login-utils.js?v=1992"></script>
    <script rel="text/javascript" src="dist/js/login.js?v=102></script>
{% endblock %}