<!-- login.njk -->
{% extends "layout.njk" %}

{% if not pageName %}
<span>new page</span>
{% endif %}

{% block content %}
<div class="login-root bodyfade">
    <div class="container">
        <div id="login-container" class="row bodyfade">
            <div class="col-md-4 col-md-offset-4">
                <div class="login-panel panel panel-crfi">
                    <div class="panel-heading" style="text-align: center">
                        {% if (coin) %}
                        <img height="250px" width="250px" src="img/{{coin}}.png" />
                        {% else %}
                        <img height="250px" width="250px" src="img/crfi.png" />
                        {% endif %}
                    </div>
                    <div class="panel-body">
                        <div class="alert alert-danger" style="display: none">
                            Login fail, please check email and password
                        </div>
                        {% if (coin) %}
                        <div class="alert alert-success" style="display: none">
                            Login successful, retrieving data from {{coin}} blockchain, please wait
                        </div>
                        {% else %}
                        <div class="alert alert-success" style="display: none">
                            Login successful, CrystalID is retrieving data from Crystaleum blockchain, please wait
                        </div>
                        {% endif %}
                        
                        <div role="form">
                        <div>
                        <a href="https://id.crystaleum.org/register.html">Register</a>
                        </div>
                        <div>
                        <a href="https://id.crystaleum.org/reset.html">Reset</a>
                        </div>
                            <fieldset>
                                <div class="form-group">
                                    <input id="email" class="form-control" placeholder="E-mail" name="email" type="email" autofocus>
                                </div>
                                <div class="form-group">
                                    <input id="password" class="form-control" placeholder="Password" name="password" type="password" value="">
                                </div>
                                <button id="login" class="btn btn-lg btn-login btn-block btn-primary">Login</button>
                            </fieldset>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% include "../templates/pin-code.njk" %}
    </div>
    {% include "../templates/modals/spinner.njk" %}
</div>
{% endblock %}
{% block scripts %} 
    <script type="text/javascript" src="dist/js/pin-code-utils.js"></script>
    <script type="text/javascript" src="dist/js/login-utils.js?v=2026"></script>
    <script type="text/javascript" src="dist/js/login.js?v=2026"></script>
{% endblock %}
