<!-- index.njk -->
{% extends "layout.njk" %}

{% block content %}
    <div id="wrapper">

        {% include "../templates/navigation.njk" %}

        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-6 col-lg-offset-3">
                    <div class="alert alert-danger" style="display: none">
                    </div>
                    <div class="alert alert-success" style="display: none">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    {% import "../templates/macros/coin_enable.njk" as crfi %}
                    {{ crfi.enable('crfi', 'Crystaleum') }}
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-crfi panel-settings">
                        <div class="panel-heading">
                            Password Reset
                        </div>
                        <div class="panel-body">
                            <div class="row">
                            <input type='hidden' name='key' id='pass_key'>
                                <div class="form-group col-lg-4">
                                    <input id="pass" class="form-control form-settings" placeholder="New Password" name="newpwd" type="password" autofocus>
                                </div>
                                <div class="form-group col-lg-4">
                                    <input id="repeat" class="form-control form-settings" placeholder="Confirm New Password" name="confirmpwd" type="password" value="">
                                </div>
                                <div class="form-group col-lg-4">
                                    <button id="resetpwd" class="btn btn-lg btn-login btn-block btn-primary">Apply</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                
                <div class="col-lg-6">
                    <div class="panel panel-crfi panel-settings">
                        <div class="panel-heading">
                            2 Factor Authentication
                        </div>
                        <div class="panel-body">
                            <i class="fa fa-lock" style="font-size: 70px; vertical-align: middle"></i>
                            <label class="switch">
                            <input type='hidden' name='key' id="2fa_key">
                                <input coin="2fa" type="checkbox"
                                    msg-on="Scan this QR or Enter this code on Google Authenticator app to enable 2fa on your device" 
                                    msg-off="coin you want to disable 2FA on yours wallets ?" >
                                <span class="slider round"></span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="panel panel-crfi panel-settings">
                        <div class="panel-heading">
                            Autrefresh Interval
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="form-group col-lg-3">
                                    <i class="fa fa-refresh" style="font-size: 45px; vertical-align: middle"></i>
                                </div>
                                <div class="form-group col-lg-3">
                                    <input id="autorefresh" class="form-control form-settings" placeholder="5" name="autorefresh" type="number" value="">
                                </div>
                                <div class="form-group col-lg-6">
                                    <button id="save" class="btn btn-lg btn-login btn-block btn-primary">Save</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-crfi panel-settings">
                        <div class="panel-heading">
                            Code Reset
                        </div>
                        <div class="panel-body">
                            <div class="row">
                            <input type='hidden' name='key' id="code_key">
                                <div class="form-group col-lg-4">
                                    <input id="pin" class="form-control form-settings" placeholder="New 5-Digit Security Code" name="pin" type="password" autofocus>
                                </div>
                                <div class="form-group col-lg-4">
                                    <input id="confirmpin" class="form-control form-settings" placeholder="Confirm Code" name="confirmpin" type="password" value="">
                                </div>
                                <div class="form-group col-lg-4">
                                    <button id="reset-code" class="btn btn-lg btn-login btn-block btn-primary">Apply</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-crfi panel-settings">
                        <div class="panel-heading">
                            Beneficiaries
                        </div>
                        <div class="panel-body">
                            <div class="row">
                            <input type='hidden' name='key' id="benef_key">
                                <div class="form-group col-lg-4">
                                    <input id="beneficiary-name" class="form-control form-settings" placeholder="Name" name="beneficiary-name" type="text" required>
                                </div>
                                <div class="form-group col-lg-8">
                                    <input id="beneficiary-email" class="form-control form-settings" placeholder="Email" name="beneficiary-email" type="text" required>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-lg-8">
                                    <input id="beneficiary-address" class="form-control form-settings" placeholder="Confirm CRFI Address" name="beneficiary-address" type="text" required>
                                </div>
                                <div class="form-group col-lg-4">
                                    <button id="add-beneficiary" class="btn btn-lg btn-login btn-block btn-primary"><i class="fa fa-plus-circle"></i> Beneneficiary</button>
                                </div>
                            </div>
                            <div class="panel panel-crfi">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" class="collapsed">List</a>
                                    </h4>
                                </div>
                                <div id="collapseOne" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                                    <div class="panel-body">
                                        <div class="row" style="color: #018ccf;">
                                        <div class="col-lg-12">
                                            <table width="100%" class="table table-striped table-bordered table-hover" id="list-style-bene">
                                                <thead>
                                                    <tr>
                                                        <th>Name</th>
                                                        <th>Email</th>
                                                        <th>Address</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% include "../templates/modals/spinner.njk" %}

        {% include "../templates/modals/confirm.njk" %}
    </div>
{% endblock %}

{% block scripts %} 
    <script type="text/javascript" src="plugins/metisMenu/metisMenu.min.js"></script>
    <script type="text/javascript" src="dist/js/reset.js?v=1994"></script>
    <script type="text/javascript" src="dist/js/settings.js?v=1998"></script>
{% endblock %}
