<!-- index.njk -->
{% extends "layout.njk" %}

{% block content %}
      <div id="wrapper">

        {% include "../templates/navigation.njk" %}

        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12 col-md-12 item">
                    {% import "../templates/macros/coin_card.njk" as crfi %}
                    {{ crfi.card('crfi') }}
                </div>
            </div>

            <div class="row">
            <div class="col-lg-12">
        <script src="https://widgets.coingecko.com/coingecko-coin-converter-widget.js"></script>
<coingecko-coin-converter-widget  coin-id="crystaleum" currency="usd" background-color="#ffffff" font-color="#4c4c4c" locale="en"></coingecko-coin-converter-widget>
        <span align="center">CryptoCurrency Conversion Powered in part by <a href="https://www.coingecko.com/en/coins/crystaleum">CoinGecko</a></span>
        </div>
                <div class="col-lg-12">
                    <div class="panel panel-crfi">
                        <div class="panel-heading">
                            <i class="fa fa-clock-o fa-fw"></i> Your wallets
                        </div>
                       <div class="panel-body">
                            {% import "../templates/macros/coin_addrqr.njk" as crfi %}
                            {{ crfi.addrqr('crfi') }}
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
            <div class="row">
            <div class="col-lg-4">
                          <div class="card border-success mb-3" style="max-width: 18rem;">
                          <div class="card-header bg-transparent border-success">Header</div>
                          <div class="card-body text-success">
                            <h5 class="card-title">CDP 3 months</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                          </div>
                          <div class="card-footer bg-transparent border-success">Footer</div>
                        </div>
        {% include "../templates/modals/spinner.njk" %}
           </div>
           <div class="col-lg-4">
                          <div class="card border-success mb-3" style="max-width: 18rem;">
                          <div class="card-header bg-transparent border-success">Header</div>
                          <div class="card-body text-success">
                            <h5 class="card-title">CDP 6 months</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                          </div>
                          <div class="card-footer bg-transparent border-success">Footer</div>
                        </div>
        {% include "../templates/modals/spinner.njk" %}
           </div>
           <div class="col-lg-4">
                          <div class="card border-success mb-3" style="max-width: 18rem;">
                          <div class="card-header bg-transparent border-success">Header</div>
                          <div class="card-body text-success">
                            <h5 class="card-title">CDP 1 year</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                          </div>
                          <div class="card-footer bg-transparent border-success">Footer</div>
                        </div>
           </div>
      </div>

        {% include "../templates/modals/spinner.njk" %}
    </div>

                  


{% endblock %}

{% block scripts %} 
    <script type="text/javascript" src="plugins/metisMenu/metisMenu.min.js"></script>
    <script type="text/javascript" src="plugins/qrious/qrious.js"></script>
    <script type="text/javascript" src="dist/js/qr-gen.js"></script>
    <script type="text/javascript" src="dist/js/index.js?v=1990"></script>
    <script type="text/javascript" src="dist/js/stake.js"></script>
{% endblock %}
