<div class="modal fade" id="confirm-modal" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="panel panel-crfi" style="margin-bottom: 0;">
                <div class="panel-body" style="height: 200px">
                    <div class="row" style="text-align: center;">
                        <h1 id="confirm-msg"></h1>
                    </div>
                    <div class="row" style="margin-top: 20px">
                        <div class="form-group col-lg-2">
                        </div>
                        <div class="form-group col-lg-4">
                            <button id="confirm-ok" class="btn btn-lg btn-login btn-block btn-primary">Ok</button>
                        </div>
                        <div class="form-group col-lg-4">
                            <button id="confirm-canc" class="btn btn-lg btn-login btn-block btn-primary">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>