    {% block css %}
      <link rel="stylesheet" href="../css/qrscan.css" />
    {% endblock %}
    {% block scripts %} 
	<script src="../dist/js/jsQR.js"></script>
    {% endblock %}

<!-- Modal HTML -->
<div id="qr_modal" class="modal fade">
	<div class="modal-qr modal-send-qr">
		<div class="modal-content">
			<div class="modal-header justify-content-center">
				<div class="icon-box">
					<i class="material-icons">&#xE876;</i>
				</div>
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			</div>
			<div class="modal-body text-center">
				<h4>Send CRFI by Scanning a QR Code!</h4>	
				<p id="transaction-success"></p>
                        <div class="row" style="margin-top: 20px">
                        <div id="loadingMessage">🎥 Unable to access video stream (please make sure you have a webcam enabled)</div>
                        <canvas id="canvas" hidden></canvas>
                        <div id="output" hidden>
                          <div id="outputMessage">No QR code detected.</div>
                          <div hidden><b>Data:</b> <span id="outputData"></span></div>
                      </div>
                    </div>
               </div>
	 </div>
    </div>
</div>   
