{% macro enable(coin, label) %}

<div class="panel panel-crfi panel-settings">
    <div class="panel-heading">
        {{ label }}
    </div>
    <div class="panel-body">
    <div>Crystaleum OTP Encryption</br>
    Crystaleum uses several layers of security, encryption techniques, along with OTP to protect sensitive user data updates.</br>
    Toggle the switch to generate a OTP (one-time-password) for use to authenticate during settings updates.</div>
        <img height="70px" width="70px" src="../img/{{ coin }}.png">
        <label class="switch">
            <input id="enable-coin" coin="{{ coin }}" type="checkbox"
                msg-on="Enable CRFI settings panel?" 
                msg-off="Are you sure you want to encrypt {{ coin | upper }} settings?" >
            <span class="slider round"></span>
        </label>
    </div>
</div>

{% endmacro %}
