{% macro enable(coin, label) %}

<div class="panel panel-crfi panel-settings">
    <div class="panel-heading">
        {{ label }}
    </div>
    <div class="panel-body">
        <img height="70px" width="70px" src="img/{{ coin }}.png">
        <label class="switch">
            <input coin="{{ coin }}" type="checkbox"
                msg-on="Enabled CRFI settings panel, you may now edit your encrypted account settings." 
                msg-off="Are you sure you want to encrypt {{ coin | upper }} coin account settings?" >
            <span class="slider round"></span>
        </label>
    </div>
</div>

{% endmacro %}
