{% macro card(coin) %}
<div class="panel panel-{{ coin }}">
    <div class="panel-heading">
        <div class="row">
            <div class="col-xs-3 col-lg-3 col-md-3">
            <img height="70px" width="70px" src="../img/{{ coin }}.png" />
            </div>
            {% block css %}
            <link rel="stylesheet" href="../css/card.css" />
            {% endblock %}
            <div class="col-xs-9 col-lg-9 col-md-9">
                <div id="{{ coin }}-balance" class="huge align indexedalign text-right"></div>
                <div class="align text-left">CRFI Vault Balance</div>                
                <div class="align text-left">Crystaleum Status: <span id="status-area"></span></div>
            </div>
        </div>
        
        <div class="clearfix"></div>
    </div>
    <div class="panel-footer">
        <div class="col-xs-12">
        <span>CRFI Unlocked: <span id="{{ coin }}-unlocked-balance"></span></span>  
        </br>
        <span>USDt: <span id="{{ coin }}-usdt-balance"></span></span> 
        </br>
        <span>BTC: <span id="{{ coin }}-btc-balance"></span></span>
        </br>
        <span>ETH: <span id="{{ coin }}-eth-balance"></span></span>
        </br>
        <span>LTC: <span id="{{ coin }}-ltc-balance"></span></span>
        </br>
        </div>   
        
        <div class="clearfix"></div>
    </div>                       
</div>

{% endmacro %}
