{% macro card(coin) %}
<div class="panel panel-{{ coin }}">
    <div class="panel-heading">
        <div class="row">
            <div class="col-xs-3">
                <img height="70px" width="70px" src="img/{{ coin }}.png" />
            </div>
            {% block css %}
            <link rel="stylesheet" href="css/card.css" />
            {% endblock %}
            <div class="col-xs-9 text-right">
                <div id="{{ coin }}-balance" class="huge align"></div>
                <div class="align">CRFI Vault Balance</div>
            </div>
        </div>
    </div>
    <div class="panel-footer">
        <div class="col-xs-12 pull-right">
        <span class="align">CRFI Unlocked: <span id="{{ coin }}-unlocked-balance"></span></span>  
        </br>
        <span class="align">USDt Value: <span class="align" id="{{ coin }}-usdt-balance"></span></span>
        </br>
        <span class="align">BTC Value: <span class="align" id="{{ coin }}-btc-balance"></span></span>
        </br>
        </br>
        <script src="https://widgets.coingecko.com/coingecko-coin-converter-widget.js"></script>
<coingecko-coin-converter-widget  coin-id="crystaleum" currency="usd" background-color="#ffffff" font-color="#4c4c4c" locale="en"></coingecko-coin-converter-widget>
        <span class="align">CryptoCurrency Conversion Powered in part by <a href="https://www.coingecko.com/en/coins/crystaleum">CoinGecko</a></span>
        </div>
        
        <div class="clearfix"></div>
    </div>                       
</div>

{% endmacro %}
