{% macro card(coin, stake_card) %}
<div class="panel panel-{{ coin }}">
    <div class="panel-heading">
        <div class="row">
            <div class="col-xs-3 col-lg-3 col-md-3">
            <img height="70px" width="70px" src="../img/{{ coin }}.png" />
            </div>
            {% block css %}
            <link rel="stylesheet" href="../css/card.css" />
            {% endblock %}
            <div class="col-xs-9 col-lg-9 col-md-9">
                <div id="{{ coin }}-balance" class="huge align indexedalign text-right"></div>
                <div class="align text-right">CRFI Stake Balance</div>
            </div>
        </div>        
        <div class="clearfix"></div>
    </div>
    <div class="panel-footer">
        <div class="col-xs-12">
        <button type="button" class="btn btn-success">stake</button>
        <button type="button" class="btn btn-danger">claim</button>
        <span class="text-left">CRFI Unlocked: <span class="{{ coin }}-unlocked-balance"></span></span>  
        </div>   
        
        <div class="clearfix"></div>
    </div>                       
</div>

{% endmacro %}
