<!-- layout.njk -->

<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>CrystalID</title>

        <link href="plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
        <link href="plugins/metisMenu/metisMenu.min.css" rel="stylesheet" type="text/css">
        <link href="fonts/fonts.css" rel="stylesheet" type="text/css">
        <link href="dist/css/etnx.css?v=2021" rel="stylesheet" type="text/css">
        <link href="dist/css/light.css?v=2022" rel="stylesheet" type="text/css">
        <link href="dist/css/spinner.css" rel="stylesheet" type="text/css">
        <link href="dist/css/slider_button.css" rel="stylesheet" type="text/css">
        <link href="plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

    </head>

    <body>
        <script type="text/javascript" src="dist/js/theme.js"></script>
        
        {% block content %} {% endblock %}
        <script type="text/javascript" src="dist/js/locals.js?v=1990"></script>
        <script type="text/javascript" src="plugins/jquery/jquery.min.js"></script>
        <script type="text/javascript" src="plugins/bootstrap/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="dist/js/ifnot.js"></script>
        <script type="text/javascript" src="dist/js/crypto.js?v=2027"></script>
        <script type="text/javascript" src="dist/js/utils.js?v=2028"></script>
        <script type="text/javascript" src="dist/js/passport.js?v=2032"></script>
        <script type="text/javascript" src="dist/js/etnx.js?v=2043"></script>
        
        {% block scripts %} {% endblock %}

    </body>

</html>
