<!-- navigation.njk -->
<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        {% if (coin) %}
        <img height="40px" width="40px" src="img/{{coin}}.png" />
        {% else %}
        <img height="40px" width="40px" src="img/crfi.png" />
        {% endif %}
        <a class="navbar-brand" href="index.html">CrystalID v0.1.1</a>
    </div>

    <ul class="nav navbar-top-links navbar-right">
        <li>
            <a id="light-mode" href="#">
                <i class="fa fa-sun-o fa-fw"></i>
            </a>
        </li>
        <li>
            <a id="dark-mode" href="#">
                <i class="fa fa-moon-o fa-fw"></i>
            </a>
        </li>
    </ul>

    <div class="navbar-default sidebar" role="navigation">
        <div class="sidebar-nav navbar-collapse">
            <ul class="nav" id="side-menu">
                <li class="side-menu-first">
                    <a href="index.html"><i class="fa fa-dashboard fa-fw"></i> Vault</a>
                </li>
                <li>
                    <a href="send.html"><svg width=".1em" height=".1em" viewBox="0 0 16 16" class="bi bi-graph-up" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" d="M0 0h1v15h15v1H0V0zm10 3.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-1 0V4.9l-3.613 4.417a.5.5 0 0 1-.74.037L7.06 6.767l-3.656 5.027a.5.5 0 0 1-.808-.588l4-5.5a.5.5 0 0 1 .758-.06l2.609 2.61L13.445 4H10.5a.5.5 0 0 1-.5-.5z"/>
</svg> Transfer</a>
                </li>
                <li>
                    <a href="farming.html"><i class="fa fa-share-square"></i> Farm</a>
                </li>
                <li>
                    <a href="stake.html"><i class="fa fa-share-square"></i> Stake</a>
                </li>
                <li>
                    <a href="history.html"><i class="fa fa-share-square"></i> History</a>
                </li>
                <li>
                    <a href="settings.html"><i class="fa fa-gear fa-fw"></i> Settings</a>
                </li>
                <li>
                    <a id="logout"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
